<div ui-view>
    <div class="directory-content content">
        <div class="directory-search sm-padding">
            <input type="text" placeholder="Search for a client..." ng-model="search">
        </div>

        <section class="md-padding">
            <div class="heading">
                <h1>Pinned <span class="label">{{ pinnedClients.length || 0 }}</span></h1>
            </div>
            <ul class="client-list">
                <li ng-repeat="client in pinnedClients | filter: search | orderBy:'name.full'">
                    <a ui-sref="directory.client({ clientId: client.id })">{{ client.name.full }}</a>
                </li>
            </ul>
        </section>

        <section class="md-padding">
            <div class="heading">
                <h1>Branch <span class="label">{{ clients.length || 0 }}</span></h1>
            </div>
            <ul class="client-list">
                <li ng-repeat="client in clients | filter: search | orderBy:'name.first'">
                    <a ui-sref="directory.client({ clientId: client.id })">{{ client.name.full }}</a>
                </li>
            </ul>
        </section>
    </div>
</div>