<section class="md-padding">
    <div class="row">
        <div class="notifications">
            <ul class="notification-section" ng-repeat="notification in notifications">
                <div class="heading">
                    <h1 ng-bind-html="notification.date"></h1>
                </div>
                <li class="notification row {{ notificationClass[datum.type] }}" ng-repeat="datum in notification.data | filter:search" ng-if="datum.actioned">
                    <div class="row">
                        <div class="pull-left">
                            <span class="notification-type">{{ datum.type }}</span>

                            <p class="notification-text">
                                <a ui-sref="directory.client({ clientId: datum.client_id })">{{ getClientById(datum.client_id).name.full }}</a><span ng-bind-html="datum.text"></span>
                            </p>
                        </div>

                        <div class="actions pull-right">
                            <span tooltip="Action was successful." tooltip-placement="bottom" ng-if="datum.successful">
                                <i class="fa fa-check"></i>
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>