button {
    border: 0;
    border-radius: 8px;
    background: #51BF56;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    outline: 0;
    padding: 12px 14px;

    &[disabled="disabled"] {
        opacity: 0.25;
    }

    &:hover {
        background: darken(#51BF56, 5%);
    }

    &:focus {
        background: darken(#51BF56, 10%);
    }

    &.dismiss {
        background: #aaa;
    }

    i {
        margin-right: 5px;
    }
}